*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

font-family: 'Caladea', serif;

}

body{
	background-color: white;
	text-align: center;
	margin:0;
}
html {
	scroll-behavior: smooth;
}

/*Start of Landing page*/
#btnstart{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.quote{
	margin-bottom: 0;
}
.writter{
	margin-top: 0;
}
.quotation{
	/*position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;*/
}
.colfront{
/*	background-color: grey;*/
	border: 3px solid white;
}
.containerfront{
	height: 100vh;
	background-color: lightpink;
}
.col1row1,
.col2row1,
.col3row1{
	text-align: center;
	font-size: 30px;

}

.dreamhouse{
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/backgroundtrial/homebg7.jpg);
	background-position: fixed;
	color: white;
	background: linear-gradient(
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		);
	position: relative;
}
.quotation{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background-attachment: fixed;

}
.col1row1{
	background-size: cover;
	color: white;
	background-image:url(../images/backgroundtrial/homebg9.jpg);
	/*background-color: rgba(0, 0, 0, 0.75);*/
	position: relative;
}
.row2{
	background: linear-gradient(
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		);
}
.seekhomecontent,
.taste,
.busy{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background-attachment: fixed;

}
.forblack{
	background: linear-gradient(
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.75)
		);
	width: 100%;
	height: 100%
}
.seekhome{
	padding: 0;
}
.col2row1{
	padding: 0;
	background-size: cover;
	color: white;
	background-image:url(../images/backgroundtrial/homebg12.jpg);
	position: relative;
}
.col3row1{
	padding: 0;
	background-size: cover;
	color: white;
	background-image:url(../images/backgroundtrial/homebg11.jpg);
	position: relative;
}

/*end of landing page*/

/*Navbar*/
.navbar{
	border-bottom: 5px solid grey;
	background-color: rgba(87, 68, 0, 0.5);
	padding: 10px;
	padding-left: 15px;
}

.logo {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 2px solid #f2f2f2;
	display: block;
	margin: 0 auto;
}
/*.navbar .brandname{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/
/*.navbar .job{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.brandname,
.job{
	margin:0;
}
.brandname{
	font-size: 18px;
	
}
.job{
	font-size: 12px;
}
.navbar{
}
/*End of Navbar*/

/*About Page*/

.exp{
	height: 100vh;
	background-color: grey;
	margin: 0 auto;
	background-image: url(../images/aboutbackground.jpg);
	position: relative;
}

.containerexp
{
	background-color: lightblue;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background-attachment: fixed;
}
.conn{
	height: 100vh;
	background-color: brown;
	margin: 0 auto;
	background-image: url(../images/aboutbackground2.jpg);
	background-position: fixed;
	background-size: cover;
	position: relative;
}

.connections
{
	background-color: lightblue;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
}



/*End of about page*/

/*Properties Page*/
.colprop{
	/*margin-top: 5vh;*/
	height:25vh;
	background-color:grey;
	border: 2px solid gold;
	/*border-radius: 100%;*/
}
#containprop{
	background-color: white;
}
.propertyfront{
		width: 100%;
		height:100vh;
	}

.optionsection{
	/*height: 100vh;*/
	width: 100%;
}
.optionssection1{
	background-color: rgba(0,0,0,0);
}
.optionssection2{
	background-color: rgba(0,0,0,0);
}
.optionssection3{
	background-color: rgba(0,0,0,0);
}
#upbtn{
	position: fixed;
	top: 90%;
	left: 90%;
	transform: translate(-50%, -50%);
}
.propertyfirstpage{
	height: 100vh;
}
.propertyfirstpage:hover + #tagup>#upbtn{
	display: none;
}
.modal-body+#popupcrosswinds.pagination>.page-item>#empty:active{
display: none;

}
.camellacarousel{
	height: 100px;
}
#economy, 
#midclass,
#highendclass,
#leisureclass{
	padding: 15px;
	margin-top: 20px;
}
#highendclass{
	margin-bottom: 50px;
}

.containercamellarow1{
	background-image: url(../assets/images/background.jpg);
	background-size: cover;
}
#containercamellaoptions{
	/*background-size: cover;*/
}

.camellarow1col1,
.camellarow1col2,
.camellarow1col3{
	background-color: rgba(255,173,71,0.5);
}
/*.camellarow1col2{
	background-color: lightpink;
}
.camellarow1col3{
	background-color: lightgrey;
}*/
.propertyheader{
	text-align: left;
	padding-left: 5px;
}
#camellainfo,
{
	padding-top: 10px;
	text-align: center;
	align-items: center;
}

#bellainfocontent,
#carainfocontent,
#daniinfocontent,
#danainfocontent,
#ellainfocontent,
#freyainfocontent,
#gretainfocontent,
#berylinfocontent,
#francoinfocontent,
#llandroinfocontent,
#moutierinfocontent,
#swissinfocontent,
#grandinfocontent{
	display: none;
	padding: 20px;
	background-color: rgba(200, 0, 0, 0.3);
	border-radius: 20px;
	text-align: center;
	align-items: center;
}
.shownotes{
	border-radius: 0;
	background-color: rgba(255, 0, 0, 0.3);
	border:1px solid red;
	float: right;
	padding-top: 0;
	padding-left: 80px;
	padding-bottom: 0;
	padding-right: 0;
	border-top-left-radius: 30%;
	border-bottom-left-radius: 30%;
	margin: 0;

	border-right: 5px solid red;
	font-weight: bold;
}
#bellainfo{
	margin: 0;
	background-color: lightblue;
}
#showbella:focus + #bellainfocontent{
	display: block;
}
.infoslide{
	margin: 0;
	background-color: lightblue;
	margin-top: 2px;
	border-radius: 20px;
}
#showcara:focus + #carainfocontent{
	display: block;
}
#showdani:focus + #daniinfocontent{
	display: block;
}
#showdana:focus + #danainfocontent{
	display: block;
}
#showella:focus + #ellainfocontent{
	display: block;
}
#showfreya:focus + #freyainfocontent{
	display: block;
}
#showgreta:focus + #gretainfocontent{
	display: block;
}

#showberyl:focus + #berylinfocontent{
	display: block;
}
#showfranco:focus + #francoinfocontent{
	display: block;
}
#showllandro:focus + #llandroinfocontent{
	display: block;
}
.crownrow1col1, 
.crownrow1col2,
.crownrow1col3{
	background-color: rgba(0,200,255,0.2);
}
.crossrow1col1, 
.crossrow1col2,
.crossrow1col3{
	background-color: rgba(170,255,118,0.2);
}
#containercrownoptions, 
#containercrossoptions{
	padding: 15px;
}
#showmoutier:focus + #moutierinfocontent{
	display: block;
}
#showswiss:focus + #swissinfocontent{
	display: block;
}
#showgrand:focus + #grandinfocontent{
	display: block;
}

#containprop {
 /* The image used */
 background-image: url(../images/trialpropertybg1.jpg);
 /* Set a specific height */
 min-height: 500px; 
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.propertybody{
	background-color: white;
	background-image: url(../images/trialpropertybg.jpg);
	font-family: 'Caladea', serif;
}
.tableabout{
	text-align: center;
	width: 100%;
	background-color: lightgrey;
	margin-bottom: 20px;
	
}
.tableabout, th, td{
	border: 2px solid black;
}
.card-body{
	color: lightgrey;
}
.propcontentwhite{
	color: white;
}
.propslogan{
	background-color: black;
	padding: 10px;
	color: white;
}
.imagecontent{
	width: 60vh;
	height: 40vh;
}
.figurecontent{
	width: 40%;
}

/*End of Property Page*/

/*Start of Contact Page*/
#cheimage{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid #f2f2f2;
	display: block;
	margin-right: 20px;
	margin: 16px auto;
}
#fbcontact, #emailcontact{
	font-size: 20px;
}

/*End of Contact Page*/


/*Footer*/
.footer{
	background-color: black;
	padding: 10px;
}
.footercontent{
	margin: 0;
	padding: 0;
}



.bodyindex{

font-family: 'Caladea', serif;
}

#btngotoabout, 
#btngotoproperties{
	background-color: rgba(0,0,0,0,0.5); /* Green */
  border: 2px solid white;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.subdlogo{
	height: 150px;
	border-radius: 30px;
	box-shadow: 5px 5px;
}
hr{
	border:2px solid black;
}

.classheader{
	color: black;
	background-color: grey;
	border-radius: 30px;
	border: 5px solid black;
	box-shadow: 5px 2px orange;
}
.subdv{
	color: gold;
	font-weight: bold;
	font-size: 50px;
	font-family: 'Lobster', cursive;
}
.gifgallery{
	margin-bottom: 10px;
}

.contactname{
	font-family: 'Lobster', cursive;
}
.modaltry{
	border-radius: 30%;
}

@media only screen and (max-width: 400px){
	/*.camellarow1col1,
	.camellarow1col2
	.camellarow1col3{
		background-color: lightgrey;
		height: 50px;
	}*/
	.shownotes{
		margin-bottom: 10px;
	}
	.gifgallery{
	width: 30%;
	margin-top: 15px;
	}
	.logo{
		margin: 0;
	}
	#upbtn{
	position: fixed;
	top: 90%;
	left: 90%;
	transform: translate(-50%, -50%);
	z-index: 1;
	}
	.col1row2{
		padding: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../images/backgroundtrial/homebg7.jpg);
		
	}
	.col1row1,
	.col2row1,
	.col3row1{
		height: 35vh;
	}
	.col2row1{
		height: 35vh;
		padding: 0;
	}
	.col1row2{
		height: 60vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../images/backgroundtrial/homebg7.jpg);
		
	}
	#btnstart{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.figurecontent{
	width: 100%;
	margin-top: 10px;
}
	.shownotes{
		display: block;
		align-items: center;
		text-align: center;
	}
	.propertyheader{
		display: block;
		margin-top: 25px;
	}
	#disc{
		font-size: 10px;
	}
	.quotation{
	width: 80%;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background-attachment: fixed;

	}
	#btnstart{
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.gifgallery{
	width: 60%;
	}

}
@media only screen and (min-width: 400px) and (max-width: 960px){
	.propertyfront{
		width: 100%;
		height:100vh;
	}
	.col1row1,
	.col2row1,
	.col3row1{
	height: 40vh;
	}
	.col1row2{
		height: 60vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../images/backgroundtrial/homebg7.jpg);
		
	}
	.logo{
		margin-left: 0;
		margin right: 10px;
		/*margin-left: 0;*/
	}
	/*.camellarow1col1,
	.camellarow1col2,
	.camellarow1col3,
	.crownrow1col1,
	.crownrow1col2,
	.crownrow1col3
	.crossrow1col1,
	.crossrow1col2,
	.crossrow1col3{
		height: 400px;
	}*/
	#upbtn{
	position: fixed;
	top: 90%;
	left: 95%;
	transform: translate(-50%, -50%);
	}
	#disc{
		font-size: 15px;
	}
	#namefront{
		font-size: 60px;
	}
	#btnstart{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
	.figurecontent{
	width: 70%;
	}
	.gifgallery{
	width: 60%;
	}
}
@media only screen and (min-width: 961px){
	.propertyfront{
		width: 100%;
		height:100vh;
	}
	.col1row1,
	.col2row1,
	.col3row1{
	height: 40vh;
	}
	.col1row2{
		height: 60vh;
		/*background-image: url(../images/trialpropertybg1.jpg);*/

		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../images/backgroundtrial/homebg7.jpg);

	}
	.logo{
		margin-left: 0;
		/*margin right: 20px;*/
		/*margin-left: 0;*/
	}
	/*.camellarow1col1,
	.camellarow1col2,
	.camellarow1col3,
	.crownrow1col1,
	.crownrow1col2,
	.crownrow1col3
	.crossrow1col1,
	.crossrow1col2,
	.crossrow1col3{
		height: 400px;
	}*/
	#upbtn{
	position: fixed;
	top: 90%;
	left: 95%;
	transform: translate(-50%, -50%);
	}
	#disc{
		font-size: 30px;
	}
	#namefront{
		font-size: 80px;
	}
	.busy,
	.taste,
	.seekhomecontent{
		font-size: 25px;
	}
	.figurecontent{
	width: 40%;
	}

	.figurecontent1{
	width: 50%;
	}
	.gifgallery{
	width: 30%;
}
}


